body{
	background-color: white;
	color: white;
	font-family: sans-serif;
	font-size: 1.4em;
	line-height: 1.6;
	margin: 0;
}
header{
	text-align: center;
}
section{
	display: grid;
	align-items: center;
	min-height: 100vh;
}
div {
	justify-content: center;
	align-items: center;
	max-width: 60em;
	margin: 1em auto;
}
.about{
	background: linear-gradient(red, yellow);
}
.about1{
	background: linear-gradient(yellow, red);
}
.about2{
	background: linear-gradient(red, blue);
}
.about3{
	background: linear-gradient(blue, gray);
}